<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><%= @note.title %></h1>
			<p><%= @note.content %></p>
		</div>
	</div>
	<% if can? :update, @note %>
		<%= link_to 'Edit', edit_note_path(@note) %> |
	<% end %>

	<%#= link_to 'Back', notes_path %>
	<%= link_to 'Back', url_for(:back) %>
</div>
