<div class="row">
	<div class="col-md-8">

		<%= form_for([@note, @comment]) do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong><%= current_user.email %></strong>
			</div>
			<div class="panel-body">
				<%= f.text_area :content, class: 'form-control' %>
				<br/>
				<div class="text-right">
					<%= f.submit "Publish Comment", class: "btn btn-home" %>
				</div>
			</div>
		</div>
		<% end %>

	</div>
</div>