<!-- Header -->
<a name="about"></a>
<div class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Notely</h1>
					<br>
					<h3>All your notes anytime, anywhere!</h3>
					<br>
					<%= link_to "Sign Up", new_user_registration_path, class: "network-name btn btn-lg btn-home" %>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="container">
	<h2 class="home-listing-separator">How it works?</h2>
	<div class="row  text-center">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>1. Create a free account</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>2. Create a new note!</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>3. Share it with others or keep it private!</h3>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('document').ready(function(){
			setDiVHeight();
			setCss();

			$('.navbar-default .navbar-nav > li > a').hover(function(){
				$(this).css("color", "#F89406");
			}, function(){
				$(this).css("color", "whitesmoke");
			});
		});

		function setCss(){
			$('.navbar-default').css('background-color', 'rgba(0, 0, 0, .0)');
			$('.navbar-default').css('border-color', 'rgba(0, 0, 0, 0.0)');
			$('.navbar-default').css('background-image', 'none');
			$('.intro-header').css('margin-top', '-75px');
		}

		function setDiVHeight(){
			$('.caption').matchHeight();
		}
	</script>