<div class="container">
  <h1>My Notes</h1>
  <%= link_to 'New Note', new_note_path %>
  <div class="row">
    <% @my_notes.each do |my_note| %>
    <div class="col-md-4">
      <div class="panel panel-default note-wrapper">
        <div class="panel-body">
          <h4><%= link_to my_note.title, my_note, class: "white" %></h4>
          <p><%= my_note.boolean_to_text %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>

  $('document').ready(function(){
    setDiVHeight();
  });

  function setDiVHeight(){
    $('.thumbnail').matchHeight();
    $('.jumbotron').matchHeight();
  };
</script>