/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require css/landing-page
 *= require css/font-awesome
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

/* Navbar */

nav {
	letter-spacing: 1px;
}

body {
	background-color: #F4F3F2;
}

a:hover {
	text-decoration: none;
	color: #D35400;
}


/* Font Weight and Color */

.light {
	font-weight: 300;
}

.normal {
	font-weight: 400;
}

.semi-bold {
	font-weight: 600;
}

.white {
	color: white;
}

.orange {
	color: #D35400;
}

.whitesmoke-bg {
	background-color: #FFFFFF;
}

/* Bootstrap classes */

.navbar-default {
	background-color: #D35400;
	border-color: #D35400;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	/*background-color: #E67E22;*/
}

.navbar-header > .navbar-brand {
	color: whitesmoke;
}

.navbar-header > .navbar-brand:hover {
	color: whitesmoke;
}

.panel {
	border: 1px solid #ddd;
	margin: 20px 0px;
	letter-spacing: 1px;
}

.list-inline > li > a {
	color: whitesmoke;
}

.thumbnail {
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.caption a {
	color: black;
}

.caption a:hover {
	color: #F89406;
}

/* Buttons */

.btn-home {
	color: white;
	background-color: #D35400;
	border-color: #D35400;
	border-radius: 0 0 0 0;
}

.btn-home:hover {
	color: white;
	background-color: #E67E22;
	border-color: #E67E22;
}

.btn-danger {
	border-radius: 0 0 0 0;
}

#notice-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999999;
	/*background: rgba(248, 148, 6, .85);*/
}

/*flash*/

div > ul > li {
	list-style-type: none;
}

.alert-error, .alert-alert, .alert-success, .alert-notice {
	border-radius: 0 0 0 0;
	border-style: none;
	padding: 2.5rem 0;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 1px;
}

.alert-error {
  background: rgba(239, 72, 54, .85);
}

.alert-alert {
  background: rgba(239, 72, 54, .85);
}

.alert-success {
  background: rgba(248, 148, 6, .85);
}

.alert-notice {
  background: rgba(248, 148, 6, .85);
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	margin-bottom: 0px;
}

.intro-message > h1 {
	/*background-color: rgba(248, 148, 6, .6);*/
	margin: 0%;
}

.intro-message > h3 {
	/*background-color: rgba(248, 148, 6, .6);*/
	margin: 0%;
}

.home-listing-separator {
	text-align: center;
	font-size: 35px;
	margin: 5% 0;
}

.bottom-cta {
	padding: 50px 0;
	text-align: center;
}

.footer, .push {
}

.note-wrapper {
  border: 1px solid blue;
  background-color: #333333;
	border-color: #333333;
  color: orange;
}