/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require css/landing-page
 *= require css/font-awesome
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #ffffff;
}

a:hover {
	text-decoration: none;
}

.navbar-default {
	background-color: #212020;
	border-color: #333333;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #F89406;
}

.navbar-header > .navbar-brand {
	color: whitesmoke;
}

.navbar-header > .navbar-brand:hover {
	color: #F89406;
}

.btn-home {
	color: white;
	background-color: #F89406;
	border-color: #F89406;
	border-radius: 0 0 0 0;
}

.btn-home:hover {
	color: white;
	background-color: #F57C00;
	border-color: #F57C00;
}

#notice-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999999;
	background: rgba(248, 148, 6, .85);
}

.alert, .notice {
	padding: 2.5rem 0;
	text-align: center;
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 1px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	margin-bottom: 45px;
}

.intro-message > h1 {
	/*background-color: rgba(248, 148, 6, .6);*/
	margin: 0%;
}

.intro-message > h3 {
	/*background-color: rgba(248, 148, 6, .6);*/
	margin: 0%;
}

.home-listing-separator {
	text-align: center;
	font-size: 35px;
	margin: 5% 0;
}

div > .jumbotron {
	background-color: transparent;
	border: 1px solid rgba(248, 148, 6, .6);
	color: white;
}

.list-inline > li > a {
	color: whitesmoke;
}

.thumbnail {
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.caption a {
	color: black;
}

.caption a:hover {
	color: #F89406;
}

.bottom-cta {
	padding: 50px 0;
	text-align: center;
}

.footer, .push {
}

.panel {
	border: 1px solid #ddd;
	margin: 20px 0px;
}